{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$"
        ]
      }
    ]
  ],
  "presets": [
    "next/babel",
    "env"
  ]
}