@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.css';


:root {  
  --base-hader-color: #1F1F21;
}

header {

  nav {
    display: flex;
    font-size: 26px;
    font-weight: 200;
    background: var(--base-hader-color);
    color: #fff;

    ul {
      & {
        display: flex;
        margin: auto;
      }

      li {
        display: block;
      }

      li.active a {
        background: rgba(255, 255, 255, 0.1);
        transition: background-color 400ms ease-in;
      }

      a {                
        display: block;
        padding: 20px;
      }
    }
  }
}

img, embed, object, audio, video {
  height:auto;
  max-width:100%
}

.avatar {
  display: block;
  border-radius: 1000px;
  background: url('img/roman-ozana.jpg') 50% 45% no-repeat;
  margin: 1em auto;
  z-index: 1;
  background-size: cover;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%);

  width: 22rem;
  height: 22rem;

  &:hover {
    filter: none;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;    
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

a.btn {
  text-decoration:none;
}

.btn-hollow {
  font-size: 18px;  
  border:1px solid #fff;  
}