@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.css';

header {
  nav {
    display: flex;
    border-bottom: 1px solid #ddd;

    ul {
      display: flex;
      margin: auto;
    }

    ul li {
      display: block;
    }

    ul {

      li.active a {
        border-bottom: 4px solid #ddd;
        padding-bottom: 11px;
      }

      a {
        padding: 15px 25px;
        cursor: pointer;
        display: block;
      }

    }
  }
}

img, embed, object, audio, video {
  height: auto;
  max-width: 100%
}

.avatar {
  display: block;
  border-radius: 99999px;
  background: url('static/img/roman-ozana.jpg') 50% 45% no-repeat;
  margin: 1em auto;
  z-index: 1;
  background-size: cover;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%);

  width: 200px;
  height: 200px;

  &:hover {
    filter: none;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

a.btn {
  text-decoration: none;
}

.btn-hollow {
  font-size: 18px;
  border: 1px solid #fff;
}

// Print rules

.visible-print-block {
  display: none !important
}

@media print {
  .visible-print-block {
    display: block !important
  }
}

.visible-print-inline {
  display: none !important
}

@media print {
  .visible-print-inline {
    display: inline !important
  }
}

.visible-print-inline-block {
  display: none !important
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important
  }
}

@media print {
  .hidden-print {
    display: none !important
  }
}