@import '../components/layout.css';

.page {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
}

section.contact {
  justify-self: center;
  align-self: center;
  text-align: center;
}