@import '../components/layout.css';

.page {
  display: grid;
}

main {
  background: #F7F7F7;
  text-align: center;
}

.page > footer {
  background: #fff;
  border-top: 1px solid #eee;
  text-align: center;
  padding: 20px;
  span {
    color: #d2322d;
  }
}