body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  > main {
    display: grid;
  }
}

img, embed, object, audio, video {
  height: auto;
  max-width: 100%;
}

.avatar {
  display: block;
  border-radius: 99999px;
  background: url('/static/img/roman-ozana.jpg') 50% 45% no-repeat;
  margin: 1em auto;
  z-index: 1;
  background-size: cover;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%);

  width: 200px;
  height: 200px;

  &:hover {
    filter: none;
  }
}