body.work {

  article {
    display: grid;
    padding: 5rem;
    grid-gap: 20px;

    img.shadow {
      border: 1px solid rgba(0, 0, 0, .2);
    }

    a, a:hover, a:active, a:visited {
      color: inherit;
    }

    img.logo {
      display: block;
      margin: 20px 0;
      max-width: 380px;
    }

    div:first-of-type p:last-child {
      margin-top: 30px;
      text-align: center;
    }
  }

  a.visit {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    padding: 10px 10px 10px 20px;
    text-decoration: none;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    svg {
      margin: 0;
      padding: 0;
      line-height: 1;
      vertical-align: middle;
      fill: #fff;
      font-style: normal;
      text-transform: none;
      display: inline-block;
    }

    &.dark {
      border-color: #cacaca;
      &:hover {
        background: #f5f5f5;
      }
      svg {
        fill: #bbb;
      }
    }
  }

  article.testomato {
    background: #b72b2a;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
  }

  article.zdrojak {
    background: #424242;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
  }

  article.sphido {
    text-align: center;
    img {
      padding: 20px;
    }
  }

  article.wordpress {
    background: #ededed;
    display: grid;
    grid-template-columns: auto auto;
  }

  article.and-more {
    text-align: center;
  }
}