@import '../components/layout.css';


article {    
    display:flex;
    flex-direction: row;
    padding: 5vmax;
    a, a:hover, a:active, a:visited {
        color: inherit;
    }
}

article.testomato {
    background: #b72b2a;
    color: #fff;     
}

article.zdrojak {
    background: #424242;
    color: #fff;
}