body.work {

	article {
		display: grid;
		padding: 20px;
		grid-gap: 20px;

		@media only screen and (min-width: 920px) {
			padding: 5rem;
		}

		img.shadow {
			border: 1px solid rgba(0, 0, 0, .2);
		}

		a, a:hover, a:active, a:visited {
			color: inherit;
		}

		img.logo {
			display: block;
			margin: 20px 0;
			width: 380px;
		}

		div:first-of-type p:last-child {
			margin-top: 2rem;
			text-align: center;
		}
	}


	a.btn {
		color: #fff;
		background-color: rgba(255, 255, 255, .1);
		border: 1px solid rgba(255, 255, 255, .2);
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		font-size: 1rem;
		line-height: 1.5;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		padding: .9rem 2rem;
		border-radius: .2rem;
	}

	a.btn:after {
		content: " »";
	}

	a.btn:hover {
		background-color: rgba(255, 255, 255, .1);
		text-decoration: none;
	}

	a.btn-dark {
		background-color: rgba(240, 240, 240, 1);
		border: 1px solid rgba(0, 0, 0, .1);
	}

	a.btn-dark:hover {
		background-color: rgba(0, 0, 0, .1);
	}

	article.testomato {
		background: #b72b2a;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		color: #fff;
	}

	article.zdrojak {
		background: #424242;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		color: #fff;
	}

	article.sphido {
		text-align: center;

		img {
			max-width: 100%;
			padding: 20px;
		}
	}

	article.github {
		background-color: #ededed;
	}

	@media only screen and (min-width: 920px) {
		article.github {
			background: #ededed url('/img/github.svg') 80% 50% no-repeat;
			background-size: 40%;
		}
	}

}